.Sidebar {
    grid-area: sidebar;
    background-color: #ffffff;
    a {
        text-decoration: none;
    }
}
.SidebarIcon {
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 6px;
}
.SidebarBlock {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.SidebarTitle {
    color: var(--primary-purple-blue-500-primary-color, #0891b2);
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 26px */
    color: #0891b2;
}
.SidebarBelowTitle {
    color: var(--primary-purple-blue-500-primary-color, #0891b2);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 12px */
    color: #0891b2;
}
