.MenuContainer {
}
.MenuUl {
    display: flex;
    flex-flow: column;
    gap: 10px;
    padding: 30px;
    a {
        text-decoration: none;
    }
}

.MenuLi {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    span {
        font-family: "DM Sans", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.32px;
        color: #a3aed0;
    }
    svg path {
        fill: #a3aed0;
    }
    &:hover {
        background: #0891b2;
        color: #ffffff;
        border-radius: 5px;
        cursor: pointer;
        span {
            color: #ffffff;
        }
        svg path {
            fill: #ffffff;
        }
    }
}
.NavLinkActive {
    background: #06b6d4;
    border-radius: 5px;
    .MenuLi {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 10px;
        gap: 10px;
        span {
            font-family: "DM Sans", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: -0.32px;
            color: #ffffff;
        }
        svg path {
            fill: #ffffff;
        }
        &:hover {
            background: #0891b2;
            color: #ffffff;
            border-radius: 5px;
            cursor: pointer;
            span {
                color: #ffffff;
            }
            svg path {
                fill: #ffffff;
            }
        }
    }
}
