:global .p-tabview-panel {
    display: grid;
    gap: 20px;
}
.CardContainer {
    :global .p-card-body {
        padding: 0;
    }
}
.ProductItemContainer {
    display: grid;
    gap: 20px;
    text-align: center;
    :global .p-card .p-card-content {
        padding: 0;
    }
    :global .p-card {
        box-shadow: none;
    }
}
.addProductBlock {
    display: grid;
    justify-content: end;
    position: absolute;
    right: 20px;
    top: 6px;

    :global .p-tabview-nav-link {
        border: none !important;
    }
    a {
        padding: 0;
    }
}
.ProductIMGBlock {
    width: 100%;
}
.ProductIMG {
    img {
        border-radius: 10px;
    }
}
.ClickCard {
    display: grid;
    grid-template-rows: 3fr 0fr 0fr;
    justify-content: center;
    align-items: center;
}
.ProductsTitle {
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
}
.ProductEditContainer {
    display: grid;
    grid-template-columns: 7fr 1.1fr;
    gap: 20px;

    a {
        text-decoration: none;
    }
}

.OrderElementBlock {
    cursor: pointer;
}
.OrderElementTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
}
.OrderElementText {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
}
.ProductsButtonsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: bottom 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(20px);
    opacity: 0;
}

.ProductImage {
    img {
        aspect-ratio: 1/1;
        object-fit: fill;
        border-radius: 10px;
    }
}
