.Content {
    grid-area: content;
    background-color: #f5f7ff;
    padding: 20px;
    display: grid;
    grid-template-rows: 0fr 1fr;
    gap: 20px;
}
.BreadCrumbAndMenuBlock {
    display: grid;
    grid-template-columns: 25fr 1fr;
    align-items: center;
}
:global .p-menuitem-text {
    a {
        text-decoration: none;
        color: #222;
    }
}
.HideMenu {
    width: 35px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: #0891b2;
        cursor: pointer;
        svg {
            path {
                stroke: #fff;
            }
        }
    }
}
.Welcome {
    color: var(--secondary-grey-900, #2b3674);

    /* Display Text/Small/Display Small (Bold) */
    font-family: DM Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 123.529% */
    letter-spacing: -0.68px;
}
.WelcomeBlock {
    display: grid;
    align-items: center;
}
.WelcomeName {
    color: var(--secondary-grey-700, #707eae);

    /* Body Text/Small/Body Medium (Bold) */
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    letter-spacing: -0.28px;
}
.WelcomeContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}
:global .p-menu {
    top: 77px !important;
    .p-menuitem {
        a {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}
