.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.cell {
    padding: 10px;
    border: 1px solid #eee;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .header {
        font-weight: bold;
        background-color: #f5f5f5;
        text-align: center;
    }
}
.cell input {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.cell[draggable="true"]:hover {
    cursor: move;
}

.cell[draggable="true"]:active {
    opacity: 0.5;
}

.inputClass {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-top: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

button {
    background-color: #4318ff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:active {
    transform: scale(0.95);
}

.daydetails {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
}

.daydetails h2 {
    margin-top: 0;
}

.daydetails textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
