.MainContainer {
    display: grid;
}
.HomeContainer {
    display: grid;
    grid-template-rows: 0fr 0fr 1fr;
    gap: 20px;
}
.SmallCardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24%, 1fr));
    gap: 20px;
}
.MediumCardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
    gap: 20px;
}

.MediumCardsContainerSecond {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
    gap: 20px;
}

.CardsContainer {
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr 0fr);
    align-items: center;
    justify-content: center;
    height: 100%;
}
.Chart {
    background: #fff !important;
    height: 350px;
    border-radius: 20px;
    canvas {
        width: 100% !important;
        height: 100% !important;
    }
}
.CardsTitleContainer {
    display: flex;
    flex-flow: column;
    padding: 20px;
}
.CardsTitle {
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.32px;
    color: #a3aed0;
}
.CardsText {
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.32px;
    color: #1b2559;
}
.CardsIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.ProfileBlock {
    display: grid;
    grid-template-rows: 5fr 1fr;
}
.ProfileIMG {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;

    div {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 10px;
    }
}
.ProfileName {
    font-size: 28px;
    font-weight: 700;
}
.ProfileStatus {
    font-size: 14px;
    font-weight: 700;
    background: linear-gradient(90deg, #0891b2 0%, #06b6d4 100%);
    padding: 10px;
    border-radius: 8px;
    color: #fff;
}
.ProfileDate {
    font-size: 14px;
    font-weight: 600;
}
.ProfileButtonBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    align-items: end;
    gap: 20px;
    button {
        width: 100%;
        font-weight: 600;
        gap: 2px;
        svg {
            width: 24px;
        }
    }
    a {
        text-decoration: none;
    }
}

/* Mobile devices */
@media only screen and (max-width: 767px) {
    .SmallCardsContainer {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
    .MediumCardsContainer {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}
/* Tablets in portrait mode  */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .SmallCardsContainer {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
    .MediumCardsContainer {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
}

/* Tablets in landscape mode */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .SmallCardsContainer {
        grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    }
    .MediumCardsContainer {
        grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    }
}

/* Medium desktops */
@media only screen and (min-width: 1280px) and (max-width: 1599px) {
    .SmallCardsContainer {
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    }
    .MediumCardsContainer {
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    }
}
/* Large desktops and high-resolution displays */
@media only screen and (min-width: 1600px) {
    .SmallCardsContainer {
        grid-template-columns: repeat(auto-fill, minmax(24%, 1fr));
    }
    .MediumCardsContainer {
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    }
}
