.Input {
    height: var(--element-height);
    padding: 20px;
    background: var(--input-bg);
    border-radius: 10px;
    border: 1px solid;
}
.Textarea {
    height: var(--element-height);
    padding: 20px;
    background: var(--input-bg);
    border-radius: 10px;
    border: 1px solid;
    resize: none;
    height: 109px;
}
