.LoginContainer {
    max-width: 100%;
}
.LoginForm {
    display: grid;
    gap: 20px;
    width: 400px;
    h1 {
        font-family: "DM Sans", sans-serif;
        font-size: 24px;
        margin: 0;
    }
    h5 {
        margin: 0;
        color: #757575;
    }
}
.Title {
    display: flex;
    flex-flow: column;
    gap: 10px;
}
:global .p-card-content {
    display: grid;
    gap: 20px;
}
.toggleAuthButton {
    cursor: pointer;
    color: #757575;
}
