.breadcrumb {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    color: #a3aed0;
}
.Alink {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #a3aed0;
    cursor: pointer;
}
