.Container {
}
.GalleriaImages {
    img {
        width: 600px;
        height: 600px;
        border-radius: 10px;
    }
}
:global .p-galleria-item-wrapper {
    ul {
        height: 99.4%;
        border-radius: 10px 0px 0px 10px;
    }
}
