.Button {
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        width: 20px;
        path {
            fill: transparent;
        }
    }
   a{
       text-decoration: none;
       color: #FFFFFF;
   }
   
}
